@import 'config';
@import 'home';
@import 'menu';
@import 'about';
@import 'projects';
@import 'contact';
@import 'responsive';
@import 'scrollbar';
body{
    background: set-text-color($primary-color);
    color: #fff;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    scroll-behavior: smooth;
}

h1,h2,h3{
    font-weight: 400;
}

a{
    color: set-text-color($primary-color);
    text-decoration: none;
}
.text-secondary{
    color: $secondary-color;
}
header{
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem; //default font size of body is 16px 1rem=16px if we change font size to 20 px 1rem=20px
}

main{
    height: 100%;
    width: 100%;

    .social-icons{
        position: fixed;
        bottom: 1rem;
        left: 1rem;

        a{
            padding: 0.4rem;
            
            .fab, .fa{
                @include transition-ease;
            }
            .fa-twitter{
                &:hover{
                    color: $twitter;
                }
            }
            .fa-linkedin{
                &:hover{
                    color: $linkedin;
                }
            }
            .fa-facebook{
                &:hover{
                    color: $facebook;
                }
            }
            .fa-instagram{
                &:hover{
                    color: $instagram;
                }
            }
            .fa-github{
                &:hover{
                    color: $github;
                }
            }
        }
    } 
}

footer{
    font-style: 1rem;
    position: fixed;
    bottom: 0.4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: set-text-color($primary-color);
}